<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="./logs/internal_nlog_TubeEater.log">
	<targets>
		<!-- File -->
		<target name="file"
				xsi:type="File"
				encoding="UTF-8"
				writeBom="true"
				lineEnding="CRLF"
				layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${logger} - ${message} ${exception:format=tostring}"
				fileName="./logs/${processname}.log"
				archiveFileName="./logs/backup/${processname}_{###}.log"
				archiveEvery="Day"
				archiveNumbering="Sequence"
				maxArchiveFiles="10" />

		<!-- Log2Console -->
		<target name="tcpOutlet" xsi:type="NLogViewer" address="tcp://localhost:4505"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="tcpOutlet" />
	</rules>
</nlog>
